@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primary-btn {
    @apply max-w-fit mx-auto text-black bg-darkOlive border-3  border-black px-8 py-3 font-gothic rounded-3xl text-xl flex cursor-pointer relative items-center justify-center;
    box-shadow: 0 4px 0 0 black;
  }

  .primary-btn-click:active {
    top: 3px;
    box-shadow: none;
  }
}